@CHARSET "EUC-KR";
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style type="text/css">
body{
	margin:0px;
	width : 100%;
	height: 1500px;
}



#centerFrame{
	width : 63%;
	height : 998px;
	display : inline-block;
	margin-left : 18.7%;
}



 
#topFrame{
 

	width : 100%;
	height: 42px;
 
}
 
#logoFrame{

	width : 260px;
	height: 40px;
	display: inline-block;
	background-image: url('resources/images/LOGO.PNG');
	background-size : 260px 40px;
	
}

 #memberFrame{
/* 	border: 1pt solid #000000; */
	width : 200px;
	height : 40px;
	display: inline-block;
	margin-left : 60.5%;
	margin-top : 0.5%;
}

#joinFrame{
		/* border: 1pt solid #000000; */
	width : 90px;
	height : 40px;
	text-align : center;
	display: table-cell;
	vertical-align : middle;
	font-size : 10pt;
}

#loginFrame{
	/* 	border: 1pt solid #000000; */
	width : 85px;
	height : 40px;
	text-align : center;
	display: table-cell;
	vertical-align : middle;
	font-size : 10pt;

	
} 


 


#menuFrame{
	 /* border: 1pt solid #000000;  */
	width: 100%;
	height : 45px;
	display : inine-block;
}



#contentFrame{
	width: 100%;
	height : 905px;
	 background-size : 100% 100%; 
	 margin-top : 1%;
}

#titleFrame{
/* 	border : 1pt solid #000000; */
	width : 450px;
	height : 250px;
	margin-top : 6%;
	margin-left : 1%;
}

#favoriteFrame{
	/* border : 1pt solid #000000; */
	width : 550px;
	height : 200px;
	margin-top : 16%;
	margin-left : 53%;
}

#companytitleFrame{
	/* border : 1pt solid #000000; */
	width : 100%;
	height : 20px;
	margin-left:0.2%;
	margin-top : 0.5%;
	font-size : 10pt;
	color : gray;
	
}

#companyFrame{
	width : 100%;
	height : 70px;
	text-align : center;
}

#bigtextFrame{
	/* border : 1pt solid #000000; */
	width : 450px;
	height : 70%;
	font-size : 50pt;
	color : #FFFFFF;
	margin-top:3%;
	}
	
#smalltextFrame{
	width : 450px;
	height : 30%;
	font-size : 37.5pt;
	color : #FFFFFF;
}

	

#busi_intr{
	width : 83px;
	height : 60%;
	display : inline-block;
	 	background-color : #FFFFFF; 
	margin-left : 12.3%;
	/* background-image: url('resources/images/busi.png'); */
	/* background-size : 123px 100%; */
	text-align : center;
}
	
	
#notice{
	width : 83px;
	height : 60%;
	display : inline-block;
	 	background-color : #FFFFFF; 
	/* background-image: url('resources/images/notice.png');
	background-size : 123px 100%; */
	margin-top : 0.3%;
	text-align : center;
	margin-left : 1.5%;
}

#street_concert{
	width : 83px;
	height : 60%;
	display : inline-block;
	 	background-color : #FFFFFF; 
/* 	background-image: url('resources/images/streetconcert.png');
	background-size : 123px 100%; */
	text-align : center;
	margin-left : 1.5%;
}

#bsk_intr{
	width : 103px;
	height : 60%;
	display : inline-block;
	 	background-color : #FFFFFF; 
	/* background-image: url('resources/images/bskintr.png');
	background-size : 123px 100%; */
	text-align : center;
	margin-left : 1.5%;
	
}
	
#media_photo{
	width : 143px;
	height : 60%;
	display : inline-block;
	 	background-color : #FFFFFF; 
	/* background-image: url('resources/images/mediaphoto.png');
	background-size : 143px 100%; */
	text-align : center;
	margin-left : 1.5%;
}

#audition{
	width : 73px;
	height : 60%;
	display : inline-block;
	 	background-color : #FFFFFF; 
	/* background-image: url('resources/images/audition.png');
	background-size : 103px 100%; */
	text-align : center;
	margin-left : 1.5%;
}

#qna{
	width : 63px;
	height : 60%;
	display : inline-block;
 	background-color : #FFFFFF; 
	/* background-image: url('resources/images/qna.png');
	background-size : 103px 100%; */
	text-align : center;
	margin-left : 1.5%;
}

#cmu{
	width : 83px;
	height : 60%;
	display : inline-block;
	 	background-color : #FFFFFF; 
	/* background-image: url('resources/images/cmu.png');
	background-size : 123px 100%; */
	text-align : center;
	margin-left : 1.5%;
}

#hr{
	margin-top : -0.6%;
}

#h4{
   margin-top : -1%;
   margin-left : 48.7%;
   color : #FFFFFF;
}

#hr2 {
	margin-top : -0.2%;
}

#hr3 {
	margin-top : 1%;
}

#somenuFrame{
	width : 18%;
	height : 100%;
	display : inline-block;
	/* border : 1pt solid #000000; */
	
}

 #menutop {
	width :100%;
	height : 6px;
	display : inline-block;
}

#block {
	width : 28%;
	height : 6px;
	background-color : rgb(155, 89, 182);
	display : inline-block;
	float : left;
}

#line {
	width : 72%;
	height : 6px;
	border-top : 1pt solid gray;
	display : inline-block;
	float : left;
}
 
#somenu1{
	width : 100%;
	height : 40px;
	background-color : rgb(155, 89, 182);
	margin-top : 5%;
	display : inline-block;
	/* background-image: url('resources/images/asdf.png');
	background-position : right center;
	background-repeat : no-repeat;
	background-size : 15% 70%; */
	
}

#menu_image1{
	width: 30px;
	height : 40px;
	display : inline-block;
	background-image: url('resources/images/asdf.png');
	background-position : right center;
	background-repeat : no-repeat;
 	background-size : 100% 70%; 
 	margin-left : 30%;
}

#menu_text1{
	display: table-cell;
	width : 90px;
	height : 40px;
	vertical-align : middle;
}

#menu_textform1{
	display : inline-block;
	width : 90px;
	height : 40px;
/* 	padding-left : 8px;
	padding-top : 7px; */
	margin-left : 5%;
	color : #FFFFFF;
}

#somenu2{
	width : 100%;
	height : 40px;
	background-color : rgb(190, 190, 190);
	margin-top : 1%;
	display : inline-block;
	/* background-image: url('resources/images/asdf.png');
	background-position : right center;
	background-repeat : no-repeat;
	background-size : 15% 70%; */
}


#menu_image2{
	width: 30px;
	height : 40px;
	display : inline-block;
	/* background-image: url('resources/images/asdf.png'); */
	background-position : right center;
	background-repeat : no-repeat;
 	background-size : 100% 70%; 
 	margin-left : 23.8%;
}

#menu_text2{
	display: table-cell;
	width : 150px;
	height : 40px;
	vertical-align : middle;
}

#menu_textform2{
	display : inline-block;
	width : 150px;
	height : 40px;
/* 	padding-left : 8px;
	padding-top : 7px; */
	margin-left : 5%;
	color : #FFFFFF;
}


#contentsFrame{
	width: 81%;
	height : 100%;
/* 	border : 1pt solid #000000; */
	display : inline-block;
}

#menutitle{
	font-size : 13.5pt;
	font-weight : bold;
}

 #content_top {
	width :100%;
	height : 7px;
	display : inline-block;
/* 	border : 1pt solid #000000; */
	margin-top : 0.5%;
}

#block2 {
	width : 15%;
	height : 6px;
	background-color : rgb(155, 89, 182);
	display : inline-block;
	float : left;
}

#line2 {
	width : 85%;
	height : 6px;
	border-bottom : 1pt solid rgb(155, 89, 182);
	display : inline-block;
	float : left;
	margin-top : -0.1%;
}

#bottomFrame{
	display: inline-block;
    width: 100%;
	text-align : center;
	font-size : 10pt;
	font-weight : bold;
}

#bigtitleFrame{
	width : 100%;
	height : 30pt;
	margin-top : 1%;
	font-size : 20pt;
	color : rgb(155, 89, 182);
	font-weight : bold;
}


.mousecursor:hover{
		cursor:pointer;
}  